@import 'nib'

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face{
	font-family: Roboto-Black;
	src: url(../fonts/Roboto/Roboto-Black.ttf);
}


figure
	margin:0px
	
img
	width: 100%
p
	font-family: OpenSans-Light;

.main-wish
	margin-top 0
	padding 0

.head-wish
	background-color black
	margin 0

#img-logo
	float left
	height 70px
	padding: 0
	position: relative
	width: 121px

.icon-menu
	color: #AFEEEE

.icon-user
	color: #AFEEEE
  
.user
	float: right
	font-size: 1.6rem
	position: relative
	text-decoration: none
	top: 21px

.nav-ul
	margin: 0
	overflow: hidden
	padding: 0 0 0 0px
	width: 100%
	
.nav-ul li
	background-color: black
	margin: 0
	text-align: center
	width: 100%
	
	
.nav-ul li a 
	color:white
	display: block
	font-family: OpenSans-Bold
	font-size: 16px
	padding: 1rem 0
	text-decoration: none
	width: 100%

.nav-ul li a:hover
	color: #FFFF99
	transition: all 0.9s ease
	background-color: #151a1e

#check-nav
	display: none
	
#check-nav:checked ~.navbar
	height: auto
	
	
.menu
	color:black
	float: right
	font-size: 2.7rem
	padding: 0.2rem
	position relative
	top: 11px

.navbar
	height: 0
	margin-top:0px
	overflow: hidden
	text-align: center
	transition: all 0.9s ease
	width: 100%

.mision-vision
	background-image: url("../img/viaje-solo.jpg")
	background-repeat: no-repeat
	overflow: hidden

.mision-vision h4
	font-family: Roboto-Black
	font-size 2rem
	text-align center
	color brown
	


.mision
	margin: 15px
	text-align: justify

.vision
	margin: 15px
	text-align: justify

.info-wish
	background-image: url("../img/tips-viajar-pareja.jpg")
	background-repeat: no-repeat
	overflow: hidden
	
	

.info
	margin: 15px
	text-align: center
	
.info h4
	font-family: Roboto-Black
	font-size 2rem
	text-align center
	color darkslategray
	//background-color: rgba(255, 255, 255, 0.2); 

.Categorias-wish
	background-image: url("../img/piramides-al-atardecer-2147.jpg")
	overflow: hidden
	flex-wrap: wrap;
	display: flex;
	justify-content: center
	padding: 1%;

.foot-wish
	background-color black
	overflow hidden
	
.title-foo
	overflow hidden
	
.title-foo h4
	color white
	font-family: Roboto-Black;
	font-size 25px
	text-align center
	
.sociales
	text-align: center
	padding 22px
	
.sociales a
	text-decoration none

.icon
	font-size 50px
	margin 5px
	
.icon-facebook-with-circle
	color: #01579B

.icon-twitter-with-circle
	color: #4FC3F7

.icon-instagram-with-circle
	color: #E91E63

.icon:hover
	color: rgba(255, 255, 255, 0.2); 
	
	
	
.copy 
	text-align center
	color white
	padding 10px
	
.copy p
	font-family: OpenSans-Bold

